@tailwind base;

@tailwind components;

.app-height {
  min-height: -webkit-fill-available;
}

.messages-full {
  height: calc(100vh - 10rem);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #cbd5e0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a0aec0;
}

@tailwind utilities;
